<Files "config.ini">
Order Allow,Deny
Deny from all
</Files>

RewriteEngine on
RewriteRule ^(/)(css|js)($|/) - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]
